@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

/* CSS reset */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,select { 
	margin:0;
	padding:0;
}

html,body {
	margin:0;
	padding:0;
}

a{ color:#444; text-decoration:none;}
a:hover{ color:#000;}
p{ display:block; padding: 5px 0;}
h1{
    font-size: 24px;
}
h2{}
h3{}
h4{}
h5{}
h6{}

img{border:none;}

body {
	font-family: 'Oswald', sans-serif;
	font-size:16px;
    color:#444;
	margin:0px;
	padding:0;
    background-color:#f2f2f2;
}

.wrapper{
	width:100%;
    margin:0 auto;
	padding: 0;
}

header{
	width:100%;
	height: auto;
	background:#194c80;
	border-bottom:5px solid #203563;
}

.logo{
	margin:0 auto;
	width: 270px;
	height: auto;
	padding: 10px;
}

nav{
	width:1024px;
	height: 124px;
	margin:0 auto;
}

section{
	width:1024px;
	margin:0 auto;
	padding:20px;
}

.login{
	width: 485px;
	background:#FFF;
	margin: 0 auto;
	padding: 0 0 20px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -43px;
	margin-left: -256px;
}

.login h1{
	width:100%;
	height:40px;
	background:#000;
	color:#FFF;
	font-weight:normal;
	line-height:40px;
	text-transform:uppercase;
	padding:0 0 0 10px;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.login input {
	width: 425px; /* 353 + 2 + 45 = 400 */
	height:45px;
    background:url(../images/login.png) no-repeat;
    padding: 15px 15px 15px 60px;
	margin:20px auto;
	display:block;
	border:none;
    border-bottom:1px dashed #2e89e6;
}

#username{background-position: 0px 0px !important;}
#password{background-position: 0px -45px !important;}

.login input:focus{
    background-color: #f2f2f2;
    border-color: #2e89e6;
    outline: none;
}

#ingresar{		
    width: 110px;
    height:35px;
    background:#2e89e6 url(../images/ingresar.png) no-repeat 8px 9px;
    border:none;
	border-bottom:2px solid #1175c9;
	color:#FFF;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
    text-align:left;
	text-transform:uppercase;
    padding: 0 0 0 30px;
    margin: 0 0 0px 30px;
	cursor:pointer;
}

#ingresar:active
{	
	border-top:2px solid #1175c9;
	border-bottom:none;
}

/*	INDEX  */

aside{
	width:400px;
	height:auto;
	overflow:auto;
	float: left;
	margin: 0 30px 0 0;
}

aside .menu{
	list-style:none;
}

aside .menu li{
	display:block;
	float:left;
	width: 46%;
	height:200px;
	border-bottom:4px solid #194c80;
	background:#265b9b;
	margin: 2%;
	padding: 20px;
	-webkit-transition: border-bottom .2s;
		-moz-transition: border-bottom .2s;
		  -o-transition: border-bottom .2s;
		 -ms-transition: border-bottom .2s;
		     transition: border-bottom .2s;
}

aside .menu:hover a{
	color:rgba(255,255,255,0.5);
}

aside .menu li:hover a{
	color:rgba(255,255,255,1);
}

aside .menu li a{
	display:block;
	font-size:20px;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}

aside .menu li a .icon2{
	display:block;
	text-align:center;
	margin:20px auto 30px;
}

aside .menu li:hover{
	border-bottom:8px solid #194c80;
	-webkit-transition: border-bottom .2s;
		-moz-transition: border-bottom .2s;
		  -o-transition: border-bottom .2s;
		 -ms-transition: border-bottom .2s;
		     transition: border-bottom .2s;
}

article{
	width: 554px;
	height:auto;
	float:left;
}

table{
	width:100%;
	margin:20px 0 0;
	padding:0;
}

table tr{
	height:30px;
}

table th{
	background:#000;
	color:#FFF;
	text-align:left;
	padding:5px;
}

table td{
	background:#FFF;
	border-bottom:1px dashed #2e89e6;
	padding:5px;
}

table tr:last-child{
	border-bottom:none;
}

/* CONFIGURACIÓN */
.article{
	width:100%;
	float:right;
}

.article label{
	width: 155px;
	height: 35px;
	display:block;
	float:left;
	margin: 5px 0;
	padding: 5px 7px;
}

.article input{
	width: 337px;
	height: 35px;
	float:left;
	margin: 5px 0;
	padding: 5px;
	border:none;
	border-bottom:2px solid #1175c9;
}

.article select{
	width: 337px;
	height: 35px;
	float:left;
	margin: 5px 0;
	padding: 5px;
	border:none;
	border-bottom:2px solid #1175c9;
}

.page_navi{
	width:200px;
	height:40px;
	background:#FFF;
	margin:20px 0 0 0;
	border-bottom:1px dashed #2e89e6;
}

.page_navi p{
	display:block;
	width:80px;
	height:100%;
	background:#2e89e6;
	color:#FFF;
	line-height:40px;
	text-transform:uppercase;
	padding:0 10px;
}

/* BOTONES */
.nav_obtion{
	width:auto;
	float:right;
	margin:0 0 20px 0;
}

.guardar{
	width: 110px;
    height:35px;
    background:#2e89e6 url(../images/guardar.png) no-repeat 8px 9px;
    border:none;
	border-bottom:2px solid #1175c9;
	color:#FFF;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
    text-align:left;
	text-transform:uppercase;
    padding: 0 0 0 30px;
    margin: 0 0px 0px 20px;
	cursor:pointer;
	float:left;
}

.guardar:active{	
	border-top:2px solid #1175c9;
	border-bottom:none;
}

.cancelar{
	width: 110px;
    height:35px;
	display:block;
    background:#2e89e6 url(../images/cancelar.png) no-repeat 8px 9px;
    border:none;
	border-bottom:2px solid #1175c9;
	color:#FFF;
	line-height:35px;
    text-align:left;
	text-transform:uppercase;
    padding: 0 0 0 30px;
    margin: 0 0px 0px 20px;
	cursor:pointer;
	float:left;
}

.cancelar:active{	
	border-top:2px solid #1175c9;
	border-bottom:none;
}

.cancelar:hover{
	color:#FFF;
}

.nuevo{
	width: 110px;
    height:35px;
	display:block;
    background:#2e89e6 url(../images/nuevo.png) no-repeat 8px 9px;
    border:none;
	border-bottom:2px solid #1175c9;
	color:#FFF;
	line-height:35px;
    text-align:left;
	text-transform:uppercase;
	padding: 0 0 0 43px;
    margin: 0 0px 0px 20px;
	cursor:pointer;
	float:left;
}

.nuevo:active{	
	border-top:2px solid #1175c9;
	border-bottom:none;
}

.nuevo:hover{
	color:#FFF;
}

.borrar{
	width: 110px;
    height:35px;
    background:#2e89e6 url(../images/borrar.png) no-repeat 8px 9px;
    border:none;
	border-bottom:2px solid #1175c9;
	color:#FFF;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
    text-align:left;
	text-transform:uppercase;
	padding: 0 0 0 36px;
    margin: 0 0px 0px 20px;
	cursor:pointer;
	float:left;
}

.borrar:active{	
	border-top:2px solid #1175c9;
	border-bottom:none;
}

.imprimir{
	width: 110px;
    height:35px;
    background:#2e89e6 url(../images/imprimir.png) no-repeat 8px 9px;
    border:none;
	border-bottom:2px solid #1175c9;
	color:#FFF;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
    text-align:left;
	text-transform:uppercase;
	padding: 0 0 0 36px;
    margin: 0 0px 0px 20px;
	cursor:pointer;
	float:left;
}

.imprimir:active{	
	border-top:2px solid #1175c9;
	border-bottom:none;
}


/* MEDIA QUERIE */
@media screen and (max-width:1200px){
	nav {width: 960px;}
	section{ width:960px;}
	aside {width: 350px;}
	aside .menu li {width: 45%;}
	article {width: 540px;}
	.article label {width: 123px;}
}

@media screen and (max-width:1024px){
	nav {width: 95%;}
	section{ width: 95%; }
	aside {width: 50%;}
	article {width: 45%;}
	.article label {width: 20%;}
	.article input {width: 30%;}
        .article select{width: 30%;}
}

@media screen and (max-width:800px){
	nav {width: 95%;height: auto;overflow: auto;}
	section{ width:95%; overflow: auto;}
	aside {width: 100%;}
	aside .menu li{width: 46%; height: 107px;}
	aside .menu li a{line-height: 67px;}
	aside .menu li a .icon2 {display: block; height: 65px; margin:0; float: left;}
	article{ width:100%;}
	.article label {width: 27%;}
	.article input {width: 73%; height:40px;}
        .article select{width: 73%; height:40px;}
}

@media screen and (max-width:600px){
	section{ width:95%;}
	aside .menu li {width: 98%;}
	.article label {width: 100%; height:25px; padding:0}
	.article input{ width:100%; height:45px;}
	.nav_obtion { margin: 15px 0 20px 0;}
	
	.login {width: 100%;position: relative;top: 0;left: 0;margin-left: 0;margin-top: 0;}
	.login input {width: 90%;}
	#ingresar {margin: 0 0 0px 5%;}
}

@media screen and (max-width:480px){
	section{ width:95%;}
}